*{
     font-family: Arial;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 15%;
    background-color: lightgray;
}
.menu{
   flex: 5%;
   background-color: gray;
}
.content{
   flex: 70%;
    background-color: white;
}
.footer{
    flex: 10%;
    background-color: lightgray;
}




.f1 {
  color: red;
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.f2
{
  color: black;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 15x;
  font-weight: normal;
  font-family: Arial;
}
