.f1 {
  color: DarkBlue;
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.f2
{
  color: red;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 15x;
  font-weight: normal;
  font-family: Arial;
}
